<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
  "-//ibatis.apache.org//DTD Mapper 3.0//EN"
  "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="uncc.goldrush.dao.AccountMapper">
  <resultMap id="transactionResult" type="uncc.goldrush.bean.Transaction">
    <id property="id" column="id" />
    <result property="date" column="transactionDate" />
    <result property="payee" column="payee" />
    <result property="amount" column="amount" />
    <association property="account" column="accountNumber" javaType="uncc.goldrush.bean.Account" resultMap="accountResult" />
  </resultMap>
  
  <resultMap id="accountResult" type="uncc.goldrush.bean.Account">
    <id property="accountNumber" column="accountNumber" />
    <result property="nickname" column="nickname" />
    <result property="balance" column="balance" />
  </resultMap>
  
  <select id="myAccounts"
    parameterType="uncc.goldrush.bean.User"
    resultType="uncc.goldrush.bean.Account">
    <![CDATA[
SELECT account.accountNumber,
account.nickname,
account.balance
FROM account
INNER JOIN account_user
ON account_user.accountNumber = account.accountNumber
WHERE account_user.username = #{username}
    ]]>
  </select>
  
  <select id="loginUser"
    parameterType="uncc.goldrush.bean.User"
    resultType="uncc.goldrush.bean.User">
    <![CDATA[
SELECT username, password, role, surname, givenName
FROM user WHERE username = #{username}
AND password = #{password}
    ]]>
  </select>
  
  <select id="getAccount"
    parameterType="java.lang.String"
    resultType="uncc.goldrush.bean.Account">
    <![CDATA[
SELECT account.accountNumber, account.nickname, account.balance
FROM account
WHERE account.accountNumber = #{id}
    ]]>  
  </select>
  
  <update id="updateAccount"
    parameterType="uncc.goldrush.bean.Account">
UPDATE account
<set>
  <if test="balance != null">balance=#{balance},</if>
  <if test="nickname != null">nickname=#{nickname}</if>
</set>
WHERE accountNumber = #{accountNumber}
  </update>
  
  <select id="getTransactionsForAccount"
    parameterType="uncc.goldrush.bean.Account"
    resultMap="transactionResult">
    <![CDATA[
SELECT transaction.id,
account.accountNumber,
account.nickname,
account.balance,
transaction.transactionDate,
transaction.payee,
transaction.amount
FROM transaction
INNER JOIN account
ON account.accountNumber = transaction.accountNumber
WHERE transaction.accountNumber = #{accountNumber}
ORDER BY transaction.transactionDate DESC
LIMIT 25
    ]]>
  </select>
  
  <update id="createUserTable">
    <![CDATA[
CREATE TABLE user (username VARCHAR(20) NOT NULL PRIMARY KEY,
password VARCHAR(20) NOT NULL,
role VARCHAR(20) NOT NULL,
surname VARCHAR(30) NOT NULL,
givenName VARCHAR(30) NOT NULL)
    ]]>
  </update>
  
  <update id="createAccountTable">
    <![CDATA[
CREATE TABLE account (accountNumber CHAR(12) NOT NULL PRIMARY KEY,
nickname VARCHAR(30) NOT NULL,
balance NUMERIC NOT NULL)
    ]]>
  </update>
  
  <update id="createAccountUserTable">
    <![CDATA[
CREATE TABLE account_user (accountNumber CHAR(12) NOT NULL,
username VARCHAR(20) NOT NULL,
FOREIGN KEY (accountNumber) REFERENCES account (accountNumber) ON DELETE CASCADE,
FOREIGN KEY (username) REFERENCES user (username) ON DELETE CASCADE,
PRIMARY KEY (accountNumber, userName))
    ]]>
  </update>
  
  <update id="createTransactionTable">
    <![CDATA[
CREATE TABLE transaction (id INTEGER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
accountNumber CHAR(12) NOT NULL,
transactionDate DATE NOT NULL,
payee VARCHAR(30) NOT NULL,
amount NUMERIC NOT NULL,
FOREIGN KEY (accountNumber) REFERENCES account (accountNumber) ON DELETE CASCADE)
    ]]>
  </update>

  <insert id="insertTransaction"
    parameterType="uncc.goldrush.bean.Transaction">
    <![CDATA[
INSERT INTO transaction (accountNumber, transactionDate, payee, amount)
VALUES (#{account.accountNumber}, #{date}, #{payee}, #{amount})
    ]]>
  </insert>

  <insert id="insertAccount"
    parameterType="uncc.goldrush.bean.Account">
    <![CDATA[
INSERT INTO account (accountNumber, nickName, balance)
VALUES (#{accountNumber}, #{nickname}, #{balance})
    ]]>
  </insert>

  <insert id="insertEntitlement"
    parameterType="uncc.goldrush.bean.Entitlement">
    <![CDATA[
INSERT INTO account_user (accountNumber, username)
VALUES (#{account.accountNumber},#{user.username})
    ]]>
  </insert>
  
  <insert id="insertUser"
    parameterType="uncc.goldrush.bean.User">
    <![CDATA[
INSERT INTO user (username, password, role, surname,givenName)
VALUES (#{username},#{password},#{role},#{surname},#{givenName})
    ]]>
  </insert>
</mapper>