<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Archetype Created Web Application</display-name>
  <listener>
    <listener-class>uncc.goldrush.util.DBSetup</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>uncc.goldrush.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountsServlet</display-name>
    <servlet-name>AccountsServlet</servlet-name>
    <servlet-class>uncc.goldrush.servlet.AccountsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountsServlet</servlet-name>
    <url-pattern>/accounts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>uncc.goldrush.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransactionsServlet</display-name>
    <servlet-name>TransactionsServlet</servlet-name>
    <servlet-class>uncc.goldrush.servlet.TransactionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionsServlet</servlet-name>
    <url-pattern>/transactions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransferServlet</display-name>
    <servlet-name>TransferServlet</servlet-name>
    <servlet-class>uncc.goldrush.servlet.TransferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferServlet</servlet-name>
    <url-pattern>/transfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Trainer</display-name>
    <servlet-name>Trainer</servlet-name>
    <servlet-class>uncc.goldrush.servlet.Trainer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Trainer</servlet-name>
    <url-pattern>/Trainer</url-pattern>
  </servlet-mapping>
</web-app>