<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<extension
       point="org.eclipse.ui.bindings">
    <!--
    <key
          commandId="annotateLogic"
          contextId="org.eclipse.ui.contexts.window"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+0">
    </key>
    -->
</extension>

<extension
       point="org.eclipse.ui.commands">
    <category
          description="Actions belong to ASIDE CodeAnnotate"
          id="ASIDE.codeannotate"
          name="ASIDE CodeAnnotate MM">
    </category>
    <!--
    <command
          categoryId="ASIDE.codeannotate"
          description="Annotate Access Control Logic"
          id="annotateLogic"
          name="ASIDE Annotate Access Control Logic">
    </command>
    -->
    <command
          categoryId="ASIDE.codeannotate"
          description="Annotate paths"
          id="annotatePath"
          name="ASIDE Code Annotate NN">
    </command>
    
    <command
          categoryId="ASIDE.codeannotate"
          description="Turn ASIDE Off"
          id="ToggleAside"
          name="ToggleAside NN">
          <state
         class="org.eclipse.ui.handlers.RegistryToggleState"
         id="org.eclipse.ui.commands.toggleState">
         <class
                  class="org.eclipse.ui.handlers.RegistryToggleState">
               <parameter
                     name="persisted"
                     value="true">
               </parameter>
            </class>
   </state>
    </command>
</extension>

<extension
       point="org.eclipse.ui.handlers">
    <handler
          class="edu.uncc.aside.codeannotate.actions.ASIDELogicControlAnnotateHandler"
          commandId="annotateLogic">
      
    </handler>
    <handler
          class="edu.uncc.aside.codeannotate.actions.ASIDEToggleStatusHandler"
          commandId="ToggleAside">
      
    </handler>
    <handler
          class="edu.uncc.aside.codeannotate.actions.ASIDECodeAnnotateHandler"
          commandId="annotatePath">
          <!--
           <activeWhen>
             <with variable="selection">
             <count value="1" />
             <iterate operator="and">
                <adapt type="org.eclipse.core.resources.IResource" />
             </iterate>
            </with>
  </activeWhen>
  -->
    </handler>
</extension>
<extension
         point="org.eclipse.ui.menus">-->
      <!--
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
            <command
                  commandId="annotateLogic"
                  label="ASIDE Annotate"
                  style="push"
                  tooltip="Annotate Access Control Logic"
                  icon="icons/greenCheck.png">
            </command>        
      </menuContribution>
      -->
      
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
            <command
                  commandId="annotatePath"
                  label="Run ASIDE"
                  style="push"
                  tooltip="Annotate paths2"
                  >                  
            </command>
      </menuContribution>
      <menuContribution 
      	locationURI="popup:org.eclipse.ui.popup.any?after=additions">
      
      <!-- icon="icons/greenCheck.png"> -->
     
            <command
                  commandId="ToggleAside"
                  label="Turn ASIDE On/Off"
                 
                  style="toggle"
                  tooltip="Turn ESIDE On/Off"
                  >                  
            </command>
      </menuContribution>
      
   </extension>  
   <extension
         point="org.eclipse.core.resources.markers" 
         id="ASIDE.RootMarker" name="ASIDE Root Marker">     
       <super type="org.eclipse.core.resources.marker"/>
         <persistent value="false"/>
   </extension>
   
    <extension
         point="org.eclipse.core.resources.markers" 
         id="CodeAnnotate.annotationQuestion" 
         name="Question Sensitive Information Retrieval Points">
      <!--   <super type="org.eclipse.core.resources.textmarker"/>	-->
       <super type="org.eclipse.core.resources.marker"/>
       <super type="ASIDE.RootMarker"/>
         <persistent value="false"/>
   </extension>
    <extension
         point="org.eclipse.core.resources.markers" 
         id="CodeAnnotate.annotationQuestionChecked" 
         name="Sensitive Information Retrieval Points">
      <!--   <super type="org.eclipse.core.resources.textmarker"/>	-->
       <super type="org.eclipse.core.resources.marker"/>
       <super type="ASIDE.RootMarker"/>
         <persistent value="false"/>
   </extension>
  
   <extension
         point="org.eclipse.core.resources.markers" 
         id="CodeAnnotate.annotationAnswer" 
         name="Answer Sensitive Information Retrieval Points">
      <!--   <super type="org.eclipse.core.resources.textmarker"/>	-->
       <super type="org.eclipse.core.resources.marker"/>
       <super type="ASIDE.RootMarker"/>
         <persistent value="false"/>
   </extension>
  
   <extension point="org.eclipse.ui.editors.annotationTypes">
		<type markerSeverity="1" markerType="CodeAnnotate.annotationQuestion"
			name="CodeAnnotate.annotationQuestionAnnotation">
		</type>
		<type markerSeverity="0" markerType="CodeAnnotate.annotationAnswer"
			name="CodeAnnotate.annotationAnswerAnnotation">
		</type>
		<type markerSeverity="0" markerType="CodeAnnotate.annotationQuestionChecked"
			name="CodeAnnotate.annotationQuestionCheckedAnnotation">
		</type>
	</extension>
   
   <extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
		<specification annotationImageProvider="edu.uncc.aside.codeannotate.AnnotationImageProvider"
			annotationType="CodeAnnotate.annotationQuestionAnnotation"
			colorPreferenceKey="questionColorPreference" colorPreferenceValue="255,192,203"
			contributesToHeader="true" highlightPreferenceKey="questionHighlightPreference"
			highlightPreferenceValue="true" 
			icon="icons/red.jpeg"
			includeOnPreferencePage="true" isGoToNextNavigationTarget="true"
			isGoToNextNavigationTargetKey="questionIsGoToNextNavigationTarget"
			isGoToPreviousNavigationTarget="true"
			isGoToPreviousNavigationTargetKey="questionIsGoToPreviousNavigationTarget"
			label="AnnotationQuestion2" overviewRulerPreferenceKey="questionOverviewRulerPreference"
			overviewRulerPreferenceValue="true" presentationLayer="8"
			quickFixIcon="icons/red.jpeg" 
			showInNextPrevDropdownToolbarAction="true"
			showInNextPrevDropdownToolbarActionKey="questionShowInNextPrevDropdownToolbarAction"
			symbolicIcon="error" textPreferenceKey="questionTextPreference"
			textPreferenceValue="true" textStylePreferenceKey="questionTextStylePreference"
			textStylePreferenceValue="BOX" verticalRulerPreferenceKey="questionVerticalRulerPreference"
			verticalRulerPreferenceValue="true">
		</specification>
		
		<specification annotationImageProvider="edu.uncc.aside.codeannotate.AnnotationImageProvider"
			annotationType="CodeAnnotate.annotationAnswerAnnotation"
			colorPreferenceKey="answerColorPreference" colorPreferenceValue="152,251,152"
			contributesToHeader="true" highlightPreferenceKey="answerHighlightPreference"
			highlightPreferenceValue="true" icon="icons/green.jpeg"
			includeOnPreferencePage="true" isGoToNextNavigationTarget="true"
			isGoToNextNavigationTargetKey="answerIsGoToNextNavigationTarget"
			isGoToPreviousNavigationTarget="true"
			isGoToPreviousNavigationTargetKey="answerIsGoToPreviousNavigationTarget"
			label="AnnotationAnswer" overviewRulerPreferenceKey="answerOverviewRulerPreference"
			overviewRulerPreferenceValue="true" presentationLayer="8"
			quickFixIcon="icons/green.jpeg" showInNextPrevDropdownToolbarAction="true"
			showInNextPrevDropdownToolbarActionKey="answerShowInNextPrevDropdownToolbarAction"
			symbolicIcon="warning" textPreferenceKey="answerTextPreference"
			textPreferenceValue="true" textStylePreferenceKey="answerTextStylePreference"
			textStylePreferenceValue="BOX" verticalRulerPreferenceKey="answerVerticalRulerPreference"
			verticalRulerPreferenceValue="true">
		</specification>
	</extension>
   
    <extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
		<specification annotationImageProvider="edu.uncc.aside.codeannotate.AnnotationImageProvider"
			annotationType="CodeAnnotate.annotationQuestionCheckedAnnotation"
			colorPreferenceKey="questionCheckedColorPreference" colorPreferenceValue="255,255,0"
			contributesToHeader="true" highlightPreferenceKey="questionCheckedHighlightPreference"
			highlightPreferenceValue="true" icon="icons/yellow.jpeg"
			includeOnPreferencePage="true" isGoToNextNavigationTarget="true"
			isGoToNextNavigationTargetKey="questionCheckIsGoToNextNavigationTarget"
			isGoToPreviousNavigationTarget="true"
			isGoToPreviousNavigationTargetKey="questionCheckedIsGoToPreviousNavigationTarget"
			label="AnnotationCheckedQuestion" overviewRulerPreferenceKey="questionCheckedOverviewRulerPreference"
			overviewRulerPreferenceValue="true" presentationLayer="8"
			quickFixIcon="icons/yellow.jpeg" showInNextPrevDropdownToolbarAction="true"
			showInNextPrevDropdownToolbarActionKey="questionCheckedShowInNextPrevDropdownToolbarAction"
			symbolicIcon="warning" textPreferenceKey="questionCheckedTextPreference"
			textPreferenceValue="true" textStylePreferenceKey="questionCheckedTextStylePreference"
			textStylePreferenceValue="BOX" verticalRulerPreferenceKey="questionCheckedVerticalRulerPreference"
			verticalRulerPreferenceValue="true">
		</specification>
   </extension>
   
  	<extension point="org.eclipse.ui.ide.markerImageProviders">
		<imageprovider class="edu.uncc.aside.codeannotate.AnnotationImageProvider"
			icon="icons/red.jpeg" id="annotationQuestionImageProvider"
			markertype="CodeAnnotate.annotationQuestion">
		</imageprovider>
		<imageprovider class="edu.uncc.aside.codeannotate.AnnotationImageProvider"
			icon="icons/green.jpeg" id="annotationAnswerImageProvider"
			markertype="CodeAnnotate.annotationAnswer">
		</imageprovider>
		<imageprovider class="edu.uncc.aside.codeannotate.AnnotationImageProvider"
			icon="icons/yellow.jpeg" id="annotationQuestionCheckedImageProvider"
			markertype="CodeAnnotate.annotationQuestionChecked">
		</imageprovider>
	</extension>
   
    <extension
         point="org.eclipse.ui.views">
      <category
            name="ASIDE CodeAnnotate333"
            id="codeannotate">
         
      </category>
      <view
            allowMultiple="false"
            class="edu.uncc.aside.codeannotate.presentations.AnnotationView"
            icon="icons/uncc.jpg"
            category="codeannotate"
            name="ASIDE Annotation Mappings"
            id="relationships">
      </view>    
   </extension>
   
   <extension
         point="org.eclipse.ui.ide.markerResolution">
   <markerResolutionGenerator
       markerType="CodeAnnotate.annotationQuestion"
       class="edu.uncc.aside.codeannotate.presentations.CodeAnnotateMarkerResolutionGenerator">
   </markerResolutionGenerator>
    <markerResolutionGenerator
       markerType="CodeAnnotate.annotationQuestionChecked"
       class="edu.uncc.aside.codeannotate.presentations.CodeAnnotateMarkerResolutionGenerator">
   </markerResolutionGenerator>
    <markerResolutionGenerator
       markerType="CodeAnnotate.annotationAnswer"
       class="edu.uncc.aside.codeannotate.presentations.CodeAnnotateControlMarkerResolutionGenerator">
   </markerResolutionGenerator>
   </extension>

    <extension
         point="org.eclipse.jdt.core.compilationParticipant">
      <compilationParticipant
            class="edu.uncc.aside.codeannotate.interactive.CodeAnnotationCompilerParticipant"
            id="CodeAnnotate.codeAnnotationCompilerParticipant">
      </compilationParticipant>
   </extension>
    <!--     
       <extension
         id="my.marker"
         name="Testing Marker"
         point="org.eclipse.core.resources.markers">
         <super type="org.eclipse.core.resources.textmarker"/>
         <persistent value="false"/>
   </extension>
   <extension
   		 id="my.annotationType"
   		 name="Testing Marker Annotation"
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="my.marker"
            name="my.annotationType">
      </type>
   </extension>
	<extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification"
         id="my.annotationSpec">
      <specification
            annotationType="my.annotationType"
            includeOnPreferencePage="true"
            overviewRulerPreferenceKey="clruler"
            label="Testing"
            icon="icons/yellowQuestion.png"
			overviewRulerPreferenceValue="true"
			colorPreferenceKey="clcolor"
			colorPreferenceValue="0,255,0"
			textPreferenceKey="cltext"
			textPreferenceValue="true"
			presentationLayer="0"
			verticalRulerPreferenceKey="clvertical"
			verticalRulerPreferenceValue="true"
			textStylePreferenceKey="clstyle"
			textStylePreferenceValue="BOX">
      </specification>
   </extension> 
    
    <extension point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
         markerType="my.marker"
         class="edu.uncc.aside.codeannotate.asideInterface.InterfaceResolutionGenerator"/>
   </extension>
    -->
    <!-- WARNING All marker ids MUST be all lowercase and contain one peroid. If they do not, they will vanish as soon as the editor tab containing them is closed. -->
    <!-- All colorPreferenceKeys should be different. They can only be the same if the colorPreferenceValues are the same. -->
    <!-- to get a colored border around the text instead of highlighting, delete the highlightpreferencekey and highlightpreference value attributes and make sure that when the marker is used in code that it spans a lenght from char start to char finish rather than line number -->
    
    <!-- here is the xml required to specify one marker type and its resolution generator. -->
    <!--
   <extension
         id="my.marker"
         name="Testing Marker"
         point="org.eclipse.core.resources.markers">
         <super type="org.eclipse.core.resources.textmarker"/>
         <persistent value="false"/>
   </extension>
   <extension
   		 id="my.annotationType"
   		 name="Testing Marker Annotation"
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="my.marker"
            name="my.annotationType">
      </type>
   </extension>
	<extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification"
         id="my.annotationSpec">
      <specification
            annotationType="my.annotationType"
            includeOnPreferencePage="true"
            overviewRulerPreferenceKey="clruler"
            label="Testing"
            icon="icons/yellowQuestion.png"
			overviewRulerPreferenceValue="true"
			highlightPreferenceKey="highlight.background"
			highlightPreferenceValue="true"
			colorPreferenceKey="clcolor"
			colorPreferenceValue="0,255,0"
			textPreferenceKey="cltext"
			textPreferenceValue="true"
			presentationLayer="0"
			verticalRulerPreferenceKey="clvertical"
			verticalRulerPreferenceValue="true"
			textStylePreferenceKey="clstyle"
			textStylePreferenceValue="BOX">
      </specification>
   </extension> 
    
    <extension point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
         markerType="my.marker"
         class="edu.uncc.aside.codeannotate.asideInterface.InterfaceResolutionGenerator"/>
   </extension>
    -->
    <!-- end spec for one marker and resolution generator -->
    
    
    <!-- here is the xml required to specify one marker type and its resolution generator -->
    
   <extension
         id="green.diamond"
         name="Green Diamond"
         point="org.eclipse.core.resources.markers">
         <super type="org.eclipse.core.resources.textmarker"/>
         <super type="ASIDE.RootMarker"/>
         <persistent value="false"/>
   </extension>
   <extension
   		 id="greenDiamondAnnotationType"
   		 name="Green Diamond Marker Annotation"
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="green.diamond"
            name="greenDiamondAnnotationType">
      </type>
   </extension>
	<extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification"
         id="greenDiamondAnnotationSpec">
      <specification
            annotationType="greenDiamondAnnotationType"
            includeOnPreferencePage="true"
            overviewRulerPreferenceKey="clruler"
            label="Access Control Annotation"
            icon="icons/greenDiamondSmall.png"
			overviewRulerPreferenceValue="true"
			highlightPreferenceKey="highlight.background"
			highlightPreferenceValue="true"
			colorPreferenceKey="clcolor"
			colorPreferenceValue="0,255,0"
			textPreferenceKey="cltext"
			textPreferenceValue="true"
			presentationLayer="0"
			verticalRulerPreferenceKey="clvertical"
			verticalRulerPreferenceValue="true"
			textStylePreferenceKey="clstyle"
			textStylePreferenceValue="BOX">
      </specification>
   </extension> 
    
    <extension point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
         markerType="green.diamond"
         class="edu.uncc.aside.codeannotate.asideInterface.AnnotationResolutionGenerator"/>
   </extension>
    
    <!-- end spec for one marker and resolution generator -->
    
    
    
    
    <!-- here is the xml required to specify one marker type and its resolution generator -->
    
   <extension
         id="red.flag"
         name="Red Flag"
         point="org.eclipse.core.resources.markers">
         <super type="org.eclipse.core.resources.textmarker"/>
         <super type="ASIDE.RootMarker"/>
         <persistent value="false"/>
   </extension>
   <extension
   		 id="redFlagAnnotationType"
   		 name="Red Flag Marker Annotation"
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="red.flag"
            name="redFlagAnnotationType">
      </type>
   </extension>
	<extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification"
         id="redFlagAnnotationSpec">
      <specification
            annotationType="redFlagAnnotationType"
            includeOnPreferencePage="true"
            overviewRulerPreferenceKey="clruler"
            label="Access Control Vulnerability Detected"
            icon="icons/redFlag.png"
			overviewRulerPreferenceValue="true"
			highlightPreferenceKey="highlight.background"
			highlightPreferenceValue="true"
			colorPreferenceKey="flag"
			colorPreferenceValue="255,0,0"
			textPreferenceKey="cltext"
			textPreferenceValue="true"
			presentationLayer="0"
			verticalRulerPreferenceKey="clvertical"
			verticalRulerPreferenceValue="true"
			textStylePreferenceKey="clstyle"
			textStylePreferenceValue="BOX">
      </specification>
   </extension> 
    
    <extension point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
         markerType="red.flag"
         class="edu.uncc.aside.codeannotate.asideInterface.VulnerabilityResolutionGenerator"/>
   </extension>
    
    <!-- end spec for one marker and resolution generator -->
    
     <!-- here is the xml required to specify one marker type and its resolution generator -->
   <extension
         id="red.question"
         name="Red Question"
         point="org.eclipse.core.resources.markers">
         <super type="org.eclipse.core.resources.textmarker"/>
         <super type="ASIDE.RootMarker"/>
         <persistent value="false"/>
   </extension>
   <extension
   		 id="redQuestionAnnotationType"
   		 name="Red Question Marker Annotation"
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="red.question"
            name="redQuestionAnnotationType">
      </type>
   </extension>
	<extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification"
         id="redQuestionAnnotationSpec">
      <specification
            annotationType="redQuestionAnnotationType"
            includeOnPreferencePage="true"
            overviewRulerPreferenceKey="clruler"
            label="Access Control Vulnerability Detected"
            icon="icons/redQuestion.png"
			overviewRulerPreferenceValue="true"
			highlightPreferenceKey="highlight.background"
			highlightPreferenceValue="true"
			colorPreferenceKey="question"
			colorPreferenceValue="255,0,0"
			textPreferenceKey="cltext"
			textPreferenceValue="true"
			presentationLayer="0"
			verticalRulerPreferenceKey="clvertical"
			verticalRulerPreferenceValue="true"
			textStylePreferenceKey="clstyle"
			textStylePreferenceValue="BOX">
      </specification>
   </extension> 
    
    <extension point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
         markerType="red.question"
         class="edu.uncc.aside.codeannotate.asideInterface.VulnerabilityResolutionGenerator"/>
   </extension>
    <!-- end spec for one marker and resolution generator -->
    
    
        <!-- here is the xml required to specify one marker type and its resolution generator -->
    
   <extension
         id="green.check"
         name="Green Check"
         point="org.eclipse.core.resources.markers">
         <super type="org.eclipse.core.resources.textmarker"/>
         <super type="ASIDE.RootMarker"/>
         <persistent value="false"/>
   </extension>
   <extension
   		 id="greenCheckAnnotationType"
   		 name="Green Check Marker Annotation"
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="green.check"
            name="greenCheckAnnotationType">
      </type>
   </extension>
	<extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification"
         id="greenCheckAnnotationSpec">
      <specification
            annotationType="greenCheckAnnotationType"
            includeOnPreferencePage="true"
            overviewRulerPreferenceKey="clruler"
            label="Bound Access Control Annotation Request"
            icon="icons/greenCheck.png"
			overviewRulerPreferenceValue="true"
			highlightPreferenceKey="highlight.background"
			highlightPreferenceValue="true"
			colorPreferenceKey="clcolor"
			colorPreferenceValue="0,255,0"
			textPreferenceKey="cltext"
			textPreferenceValue="true"
			presentationLayer="0"
			verticalRulerPreferenceKey="clvertical"
			verticalRulerPreferenceValue="true"
			textStylePreferenceKey="clstyle"
			textStylePreferenceValue="BOX">
      </specification>
   </extension> 
    
    <extension point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
         markerType="green.check"
         class="edu.uncc.aside.codeannotate.asideInterface.CheckedResolutionGenerator"/>
   </extension>
    
    <!-- end spec for one marker and resolution generator -->
    
    
            <!-- here is the xml required to specify one marker type and its resolution generator -->
    
   <extension
         id="yellow.question"
         name="Yellow Question"
         point="org.eclipse.core.resources.markers">
         <super type="org.eclipse.core.resources.marker"/>
         <super type="ASIDE.RootMarker"/>
         <persistent value="false"/>
   </extension>
   <extension
   		 id="yellowQuestionAnnotationType"
   		 name="Yelow Question Marker Annotation"
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="yellow.question"
            name="yellowQuestionAnnotationType">
      </type>
   </extension>
	
	
	
	<extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification"
         id="yellowQuestionAnnotationSpec">
        
         
      <specification
            annotationType="yellowQuestionAnnotationType"
            includeOnPreferencePage="true"
            contributesToHeader="true"
            isGoToNextNavigationTarget="true"
            isGoToNextNavigationTargetKey="questionIsGoToNextNavigationTarget"
			isGoToPreviousNavigationTarget="true"
			isGoToPreviousNavigationTargetKey="questionIsGoToPreviousNavigationTarget"
			overviewRulerPreferenceValue="true" 
			presentationLayer="8" 
            overviewRulerPreferenceKey="questionOverviewRulerPreference"
            showInNextPrevDropdownToolbarAction="true"
			showInNextPrevDropdownToolbarActionKey="questionShowInNextPrevDropdownToolbarAction"
			symbolicIcon="warning"   
            label="Access Control Annotation Request"
            icon="icons/yellowQuestion.png"
			highlightPreferenceKey="highlight.background"
			highlightPreferenceValue="true"
			colorPreferenceKey="yellowQuestion"
			colorPreferenceValue="255,255,0"
			textPreferenceKey="cltext"
			textPreferenceValue="true"
			verticalRulerPreferenceKey="clvertical"
			verticalRulerPreferenceValue="true"
			textStylePreferenceKey="clstyle"
			textStylePreferenceValue="BOX">
      </specification>
      
   </extension> 
    
    <extension point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
         markerType="yellow.question"
         class="edu.uncc.aside.codeannotate.asideInterface.QuestionResolutionGenerator"/>
   </extension>
    
    <!-- end spec for one marker and resolution generator -->
    
     <extension
         id="green.diamond.box"
         name="Green Diamond Box"
         point="org.eclipse.core.resources.markers">
         <super type="org.eclipse.core.resources.textmarker"/>
         <super type="ASIDE.RootMarker"/>
         <persistent value="false"/>
   </extension>
   <extension
   		 id="greenDiamondBoxAnnotationType"
   		 name="Green Diamond Marker Annotation"
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="green.diamond.box"
            name="greenDiamondBoxAnnotationType">
      </type>
   </extension>
	<extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification"
         id="greenDiamondBoxAnnotationSpec">
      <specification
            annotationType="greenDiamondBoxAnnotationType"
            includeOnPreferencePage="true"
            overviewRulerPreferenceKey="clruler"
            label="Access Control Annotation"
            icon="icons/greenDiamondSmall.png"
			overviewRulerPreferenceValue="true"
			colorPreferenceKey="clcolor"
			colorPreferenceValue="0,255,0"
			textPreferenceKey="cltext"
			textPreferenceValue="true"
			presentationLayer="0"
			verticalRulerPreferenceKey="clvertical"
			verticalRulerPreferenceValue="true"
			textStylePreferenceKey="clstyle"
			textStylePreferenceValue="BOX">
      </specification>
   </extension> 
    
    <extension point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
         markerType="green.diamond.box"
         class="edu.uncc.aside.codeannotate.asideInterface.AnnotationResolutionGenerator"/>
   </extension>
    
    <!-- end spec for one marker and resolution generator -->
    
    
    
    
    <!-- here is the xml required to specify one marker type and its resolution generator -->
    
   <extension
         id="red.flag.box"
         name="Red Flag Box"
         point="org.eclipse.core.resources.markers">
         <super type="org.eclipse.core.resources.textmarker"/>
         <super type="ASIDE.RootMarker"/>
         <persistent value="false"/>
   </extension>
   <extension
   		 id="redFlagBoxAnnotationType"
   		 name="Red Flag Marker Annotation"
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="red.flag.box"
            name="redFlagBoxAnnotationType">
      </type>
   </extension>
	<extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification"
         id="redFlagBoxAnnotationSpec">
      <specification
            annotationType="redFlagBoxAnnotationType"
            includeOnPreferencePage="true"
            overviewRulerPreferenceKey="clruler"
            label="Access Control Vulnerability Detected"
            icon="icons/redFlag.png"
			overviewRulerPreferenceValue="true"
			colorPreferenceKey="flag"
			colorPreferenceValue="255,0,0"
			textPreferenceKey="cltext"
			textPreferenceValue="true"
			presentationLayer="0"
			verticalRulerPreferenceKey="clvertical"
			verticalRulerPreferenceValue="true"
			textStylePreferenceKey="clstyle"
			textStylePreferenceValue="BOX">
      </specification>
   </extension> 
    
    <extension point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
         markerType="red.flag.box"
         class="edu.uncc.aside.codeannotate.asideInterface.VulnerabilityResolutionGenerator"/>
   </extension>
    
    <!-- end spec for one marker and resolution generator -->
    
    
        <!-- here is the xml required to specify one marker type and its resolution generator -->
    
   <extension
         id="green.check.box"
         name="Green Check Box"
         point="org.eclipse.core.resources.markers">
         <super type="org.eclipse.core.resources.textmarker"/>
         <super type="ASIDE.RootMarker"/>
         <persistent value="false"/>
   </extension>
   <extension
   		 id="greenCheckBoxAnnotationType"
   		 name="Green Check Marker Annotation"
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="green.check.box"
            name="greenCheckBoxAnnotationType">
      </type>
   </extension>
	<extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification"
         id="greenCheckBoxAnnotationSpec">
      <specification
            annotationType="greenCheckBoxAnnotationType"
            includeOnPreferencePage="true"
            overviewRulerPreferenceKey="clruler"
            label="Bound Access Control Annotation Request"
            icon="icons/greenCheck.png"
			overviewRulerPreferenceValue="true"
			colorPreferenceKey="clcolor"
			colorPreferenceValue="0,255,0"
			textPreferenceKey="cltext"
			textPreferenceValue="true"
			presentationLayer="0"
			verticalRulerPreferenceKey="clvertical"
			verticalRulerPreferenceValue="true"
			textStylePreferenceKey="clstyle"
			textStylePreferenceValue="BOX">
      </specification>
   </extension> 
    
    <extension point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
         markerType="green.check.box"
         class="edu.uncc.aside.codeannotate.asideInterface.CheckedResolutionGenerator"/>
   </extension>
    
    <!-- end spec for one marker and resolution generator -->
    
    
            <!-- here is the xml required to specify one marker type and its resolution generator -->
    
   <extension
         id="yellow.question.box"
         name="Yellow Question Box "
         point="org.eclipse.core.resources.markers">
         <super type="org.eclipse.core.resources.marker"/>
         <super type="ASIDE.RootMarker"/>
         <persistent value="false"/>
   </extension>
   <extension
   		 id="yellowQuestionBoxAnnotationType"
   		 name="Yelow Question Marker Annotation"
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="yellow.question.box"
            name="yellowQuestionBoxAnnotationType">
      </type>
   </extension>
	
	<extension   point="org.eclipse.ui.editors.markerAnnotationSpecification"
         id="yellowQuestionBoxAnnotationSpec">
      <specification
            annotationType="yellowQuestionBoxAnnotationType"
            includeOnPreferencePage="true"
            contributesToHeader="true"
            isGoToNextNavigationTarget="true"
            isGoToNextNavigationTargetKey="questionIsGoToNextNavigationTarget"
			isGoToPreviousNavigationTarget="true"
			isGoToPreviousNavigationTargetKey="questionIsGoToPreviousNavigationTarget"
			overviewRulerPreferenceValue="true" 
			presentationLayer="8" 
            overviewRulerPreferenceKey="questionOverviewRulerPreference"
            showInNextPrevDropdownToolbarAction="true"
			showInNextPrevDropdownToolbarActionKey="questionShowInNextPrevDropdownToolbarAction"
			symbolicIcon="warning"   
            label="Access Control Annotation Request"
            icon="icons/yellowQuestion.png"
			colorPreferenceKey="yellowQuestion"
			colorPreferenceValue="255,255,0"
			textPreferenceKey="cltext"
			textPreferenceValue="true"
			verticalRulerPreferenceKey="clvertical"
			verticalRulerPreferenceValue="true"
			textStylePreferenceKey="clstyle"
			textStylePreferenceValue="BOX">
      </specification>
      
   </extension> 
    
    <extension point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
         markerType="yellow.question.box"
         class="edu.uncc.aside.codeannotate.asideInterface.QuestionResolutionGenerator"/>
   </extension>
   
   
    
    <!-- here is the xml required to specify one marker type and its resolution generator -->
   
   <extension
         id="red.question.box"
         name="Red Question Box"
         point="org.eclipse.core.resources.markers">
         <super type="org.eclipse.core.resources.textmarker"/>
         <super type="ASIDE.RootMarker"/>
         <persistent value="false"/>
   </extension>
   <extension
   		 id="redQuestionBoxAnnotationType"
   		 name="Red Question Marker Annotation"
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="red.question.box"
            name="redQuestionBoxAnnotationType">
      </type>
   </extension>
	<extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification"
         id="redQuestionBoxAnnotationSpec">
      <specification
            annotationType="redQuestionBoxAnnotationType"
            includeOnPreferencePage="true"
            overviewRulerPreferenceKey="clruler"
            label="Access Control Vulnerability Detected"
            icon="icons/redQuestion.png"
			overviewRulerPreferenceValue="true"
			colorPreferenceKey="questionBox"
			colorPreferenceValue="255,0,0"
			textPreferenceKey="cltext"
			textPreferenceValue="true"
			presentationLayer="0"
			verticalRulerPreferenceKey="clvertical"
			verticalRulerPreferenceValue="true"
			textStylePreferenceKey="clstyle"
			textStylePreferenceValue="BOX">
      </specification>
   </extension> 
    
    <extension point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
         markerType="red.question.box"
         class="edu.uncc.aside.codeannotate.asideInterface.VulnerabilityResolutionGenerator"/>
   </extension>
    
    <!-- end spec for one marker and resolution generator -->
   
   <!--input-->
   	<extension id="AsideViews" point="org.eclipse.ui.views">
		<category id="edu.uncc.sis.aside" name="Aside">
		</category>
		<view category="edu.uncc.sis.aside" class="edu.uncc.sis.aside.views.ValidationRulesView"
			icon="icons/map.png" id="edu.uncc.sis.aside.views.ValidationRulesView"
			name="Validation Rules">
		</view>
	</extension>
	
	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
			<view id="edu.uncc.sis.aside.views.ValidationRulesView" ratio="0.5"
				relationship="right" relative="org.eclipse.ui.views.TaskList">
			</view>
		</perspectiveExtension>
	</extension>

	<extension point="org.eclipse.ui.preferencePages">
		<page class="edu.uncc.sis.aside.preferences.AsideRulePreferencePage"
			id="edu.uncc.sis.aside.preferences.AsidePreferencePage" name="ASIDE">
		</page>
	</extension>

	<extension id="AsidePreferences" point="org.eclipse.core.runtime.preferences">
		<initializer class="edu.uncc.sis.aside.preferences.PreferenceInitializer">
		</initializer>
	</extension>

	<extension id="AsideContextMenus" point="org.eclipse.ui.popupMenus">
		<objectContribution id="edu.uncc.sis.aside.projectContribution"
			objectClass="org.eclipse.core.resources.IResource" adaptable="true">
			<filter name="projectNature" value="org.eclipse.jdt.core.javanature" />		
		
   <action
         class="edu.uncc.sis.aside.popup.actions.ManuallyStopAsideOnTargetAction"
         enablesFor="+"
         icon="icons/moon.png"
         id="edu.uncc.sis.aside.StopAsideOnTargetAction"
         label="Stop ASIDE"
         menubarPath="edu.uncc.sis.aside.menu/aside_group"
         style="push"
         tooltip="Manually stop ASIDE against selected project">
      <enablement>
         <or>
            <objectClass
                  name="org.eclipse.core.resources.IProject">
            </objectClass>
            <objectClass
                  name="org.eclipse.core.resources.IFolder">
            </objectClass>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
               <objectState
                     name="extension"
                     value="java">
               </objectState>
            </and>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
               <objectState
                     name="extension"
                     value="jsp">
               </objectState>
            </and>
         </or>
      </enablement>
   </action>
   <action
         class="edu.uncc.sis.aside.popup.actions.ManuallyLaunchAsideOnTargetAction"
         enablesFor="+"
         icon="icons/sunshine.png"
         id="edu.uncc.sis.aside.LaunchAsideOnTargetAction"
         label="Run ASIDE"
         menubarPath="edu.uncc.sis.aside.menu/aside_group"
         style="push"
         tooltip="Manually launch ASIDE against selected target(s)">
      <enablement>
         <or>
            <objectClass
                  name="org.eclipse.core.resources.IProject">
            </objectClass>
            <objectClass
                  name="org.eclipse.core.resources.IFolder">
            </objectClass>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
               <objectState
                     name="extension"
                     value="java">
               </objectState>
            </and>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
               <objectState
                     name="extension"
                     value="jsp">
               </objectState>
            </and>
         </or>
      </enablement>
   </action>
			
		</objectContribution>
	</extension>
<!--
<extension
         point="org.eclipse.ui.menus">
         
        <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?before=additions">
            <menu id="edu.uncc.sis.aside.menu" label="ASIDE"
				icon="icons/s.png">
				<separator name="aside_additions" visible="false"/>		
				<groupMarker name="aside_group" />
			</menu>
      </menuContribution>
         
      
   </extension>-->
   
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="edu.uncc.sis.aside.auxiliary.commandCategory"
            name="dynamicCommandCategory">
      </category>
      <command
            categoryId="edu.uncc.sis.aside.auxiliary.commandCategory"
            id="edu.uncc.sis.aside.auxiliary.dynamicCommand"
            name="dynamicCommand">
         <commandParameter
               id="edu.uncc.sis.aside.auxiliary.popupMenus.commandParameter"
               name="name"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="edu.uncc.sis.aside.auxiliary.popup.actions.DynamicCommandHandler"
            commandId="edu.uncc.sis.aside.auxiliary.dynamicCommand">
      </handler>
   </extension>
   

	<extension id="edu.uncc.sis.aside.AsideMarker" point="org.eclipse.core.resources.markers"
		name="Bad Security Practice" >
          <super type="ASIDE.RootMarker"/>
         <persistent value="false"/>		
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.core.resources.problemmarker"></super>
		<attribute name="type">
		</attribute>
		<attribute name="edu.uncc.sis.aside.marker.flow">
		</attribute>
		<attribute name="edu.uncc.sis.aside.marker.validationType">
		</attribute>
		<attribute name="edu.uncc.sis.aside.marker.targetPosition">
		</attribute>
  <attribute
        name="edu.uncc.sis.aside.marker.ruleNameBelongTo">
  </attribute>
  <attribute
        name="edu.uncc.sis.aside.marker.typeNameBelongTo">
  </attribute>
  <attribute
        name="edu.uncc.sis.aside.marker.returnTypeOfMethodDeclarationBelongTo">
  </attribute>
	</extension>

	<extension id="AsideMarkerAnnnotation" point="org.eclipse.ui.editors.annotationTypes">
		<type markerSeverity="1" markerType="edu.uncc.sis.aside.AsideMarker"
			name="edu.uncc.sis.aside.asideMarkerAnnotation">
		</type>
		<type name="edu.uncc.sis.aside.invisibleAnnotation"></type>
	</extension>

	<extension id="AsideMarkerAnnotationSpecification"
		point="org.eclipse.ui.editors.markerAnnotationSpecification">
		<specification annotationImageProvider="edu.uncc.sis.aside.markers.AsideMarkerImageProvider"
			annotationType="edu.uncc.sis.aside.asideMarkerAnnotation"
			colorPreferenceKey="asideColorPreference" colorPreferenceValue="255,193,193"
			contributesToHeader="true" highlightPreferenceKey="asideHighlightPreference"
			highlightPreferenceValue="false" icon="icons/devil.png"
			includeOnPreferencePage="true" isGoToNextNavigationTarget="true"
			isGoToNextNavigationTargetKey="asideIsGoToNextNavigationTarget"
			isGoToPreviousNavigationTarget="true"
			isGoToPreviousNavigationTargetKey="asideIsGoToPreviousNavigationTarget"
			label="ASIDE Warnings" overviewRulerPreferenceKey="asideOverviewRulerPreference"
			overviewRulerPreferenceValue="true" presentationLayer="10"
			quickFixIcon="icons/devil.png" showInNextPrevDropdownToolbarAction="true"
			showInNextPrevDropdownToolbarActionKey="asideShowInNextPrevDropdownToolbarAction"
			symbolicIcon="warning" textPreferenceKey="asideTextPreference"
			textPreferenceValue="false" textStylePreferenceKey="asideTextStylePreference"
			textStylePreferenceValue="false" verticalRulerPreferenceKey="asideVerticalRulerPreference"
			verticalRulerPreferenceValue="true">
		</specification>
	</extension>

	<extension id="AsideMarkerImageProvider" point="org.eclipse.ui.ide.markerImageProviders">
		<imageprovider class="edu.uncc.sis.aside.markers.AsideMarkerImageProvider"
			icon="icons/ydevil.png" id="edu.uncc.sis.aside.AsideImageProvider"
			markertype="edu.uncc.sis.aside.AsideMarker">
		</imageprovider>
	</extension>

	<extension id="AsideMarkerHelp" point="org.eclipse.ui.ide.markerHelp">
		<markerHelp helpContextId="edu.uncc.sis.aside.AsideHelpContext"
			markerType="edu.uncc.sis.aside.AsideMarker">
		</markerHelp>
	</extension>

    <!-- attribute state is a flag that indicates whether the decorator is on by default, lightweight decoration is processed in a background thread other then UI thread -->
	<extension id="AsideDecorator" point="org.eclipse.ui.decorators">
		<decorator adaptable="true"
			id="edu.uncc.sis.aside.decorator" label="Aside Decorator"
			lightweight="true" state="true"
			class="edu.uncc.sis.aside.decorators.AsideLightweightDecorator" >
	        <enablement>
				<or>
					<objectClass name="org.eclipse.core.resources.IResource" />									
				</or>
			</enablement>
		</decorator>
	</extension>

	<extension id="AsideMarkerResolution" point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator
			class="edu.uncc.sis.aside.markers.AsideMarkerInputResolutionGenerator"
			markerType="edu.uncc.sis.aside.AsideMarker">
			<!--
				<attribute name="edu.uncc.sis.aside.marker.flow" value="input">
				</attribute>
			-->
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="edu.uncc.sis.aside.markers.AsideMarkerOutputResolutionGenerator"
			markerType="edu.uncc.sis.aside.AsideMarker">
			<!--
				<attribute name="edu.uncc.sis.aside.marker.flow" value="output">
				</attribute>
			-->
		</markerResolutionGenerator>
  <markerResolutionGenerator
        class="edu.uncc.sis.aside.markers.AsideMarkerSpecialOutputResolutionGenerator"
        markerType="edu.uncc.sis.aside.AsideMarker">
  </markerResolutionGenerator>
  <markerResolutionGenerator
        class="edu.uncc.sis.aside.markers.AsideMarkerOnlyWarningResolutionGenerator"
        markerType="edu.uncc.sis.aside.AsideMarker">
  </markerResolutionGenerator>
	</extension>

	<extension
       id="AsideCompilationParticipant"
       point="org.eclipse.jdt.core.compilationParticipant">
		<compilationParticipant
			class="edu.uncc.sis.aside.builder.AsideCompilationParticipant"
			createsProblems="false" id="edu.uncc.sis.aside.AsideCompilationParticipant"
			modifiesEnvironment="true" requiredSourceLevel="1.5">
		</compilationParticipant>
	</extension>
	
<extension
       id="AsideStartup"
       point="org.eclipse.ui.startup">
    <startup class="edu.uncc.sis.aside.AsideStartup"/>
 </extension>
   
</plugin>