<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<extension
       point="org.eclipse.ui.bindings">
    <key
          commandId="annotateLogic"
          contextId="org.eclipse.ui.contexts.window"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+0">
    </key>
</extension>

<extension
       point="org.eclipse.ui.commands">
    <category
          description="Actions belong to ASIDE CodeAnnotate"
          id="ASIDE.codeannotate"
          name="ASIDE CodeAnnotate">
    </category>
    <command
          categoryId="ASIDE.codeannotate"
          description="Annotate Access Control Logic"
          id="annotateLogic"
          name="ASIDE Annotate Access Control Logic">
    </command>
    <command
          categoryId="ASIDE.codeannotate"
          description="Annotate paths"
          id="annotatePath"
          name="ASIDE Code Annotate">
    </command>
</extension>


<extension
       point="org.eclipse.ui.handlers">
    <handler
          class="edu.uncc.aside.codeannotate.actions.ASIDELogicControlAnnotateHandler"
          commandId="annotateLogic">
          <activeWhen>
   <with variable="activePartId">
    <equals value="org.eclipse.jdt.ui.CompilationUnitEditor"/>
   </with>
  </activeWhen>
    </handler>
    <handler
          class="edu.uncc.aside.codeannotate.actions.ASIDECodeAnnotateHandler"
          commandId="annotatePath">
           <activeWhen>
             <with variable="selection">
             <count value="1" />
             <iterate operator="and">
                <adapt type="org.eclipse.core.resources.IResource" />
             </iterate>
            </with>
  </activeWhen>
    </handler>
</extension>

<extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
            <command
                  commandId="annotateLogic"
                  label="ASIDE Annotate"
                  style="push"
                  tooltip="Annotate Access Control Logic">
            </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
            <command
                  commandId="annotatePath"
                  label="ASIDE CodeAnnotate"
                  style="push"
                  tooltip="Annotate paths">
            </command>
      </menuContribution>
   </extension>
       
   <extension
         point="org.eclipse.core.resources.markers" 
         id="annotationQuestion" name="Sensitive Information Retrieval Points">
        <!-- <super type="org.eclipse.core.resources.problemmarker"/> -->
       <!--  <super type="org.eclipse.core.resources.textmarker"/>	-->
        <super type="org.eclipse.core.resources.marker"/>
         <persistent value="false"/>
   </extension>
  
   <extension
         point="org.eclipse.core.resources.markers" 
         id="annotationAnswer" name="Access Control Logic Points">
       <!--  <super type="org.eclipse.core.resources.textmarker"/>	-->
        <super type="org.eclipse.core.resources.marker"/>
         <persistent value="false"/>
   </extension>
   
    <extension
         point="org.eclipse.core.resources.markers" 
         id="annotationQuestionChecked" name="Sensitive Information Retrieval Points">
      <!--   <super type="org.eclipse.core.resources.textmarker"/>	-->
       <super type="org.eclipse.core.resources.marker"/>
         <persistent value="false"/>
   </extension>
  
   <extension point="org.eclipse.ui.editors.annotationTypes">
		<type markerSeverity="1" markerType="CodeAnnotate.annotationQuestion"
			name="CodeAnnotate.annotationQuestionAnnotation">
		</type>
		<type markerSeverity="0" markerType="CodeAnnotate.annotationAnswer"
			name="CodeAnnotate.annotationAnswerAnnotation">
		</type>
		<type markerSeverity="0" markerType="CodeAnnotate.annotationQuestionChecked"
			name="CodeAnnotate.annotationQuestionCheckedAnnotation">
		</type>
	</extension>
   
   <extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
		<specification annotationImageProvider="edu.uncc.aside.codeannotate.AnnotationImageProvider"
			annotationType="CodeAnnotate.annotationQuestionAnnotation"
			colorPreferenceKey="questionColorPreference" colorPreferenceValue="255,192,203"
			contributesToHeader="true" highlightPreferenceKey="questionHighlightPreference"
			highlightPreferenceValue="true" icon="icons/red.jpeg"
			includeOnPreferencePage="true" isGoToNextNavigationTarget="true"
			isGoToNextNavigationTargetKey="questionIsGoToNextNavigationTarget"
			isGoToPreviousNavigationTarget="true"
			isGoToPreviousNavigationTargetKey="questionIsGoToPreviousNavigationTarget"
			label="AnnotationQuestion" overviewRulerPreferenceKey="questionOverviewRulerPreference"
			overviewRulerPreferenceValue="true" presentationLayer="8"
			quickFixIcon="icons/red.jpeg" showInNextPrevDropdownToolbarAction="true"
			showInNextPrevDropdownToolbarActionKey="questionShowInNextPrevDropdownToolbarAction"
			symbolicIcon="warning" textPreferenceKey="questionTextPreference"
			textPreferenceValue="true" textStylePreferenceKey="questionTextStylePreference"
			textStylePreferenceValue="BOX" verticalRulerPreferenceKey="questionVerticalRulerPreference"
			verticalRulerPreferenceValue="true">
		</specification>
		
		<specification annotationImageProvider="edu.uncc.aside.codeannotate.AnnotationImageProvider"
			annotationType="CodeAnnotate.annotationAnswerAnnotation"
			colorPreferenceKey="answerColorPreference" colorPreferenceValue="152,251,152"
			contributesToHeader="true" highlightPreferenceKey="answerHighlightPreference"
			highlightPreferenceValue="true" icon="icons/green.jpeg"
			includeOnPreferencePage="true" isGoToNextNavigationTarget="true"
			isGoToNextNavigationTargetKey="answerIsGoToNextNavigationTarget"
			isGoToPreviousNavigationTarget="true"
			isGoToPreviousNavigationTargetKey="answerIsGoToPreviousNavigationTarget"
			label="AnnotationAnswer" overviewRulerPreferenceKey="answerOverviewRulerPreference"
			overviewRulerPreferenceValue="true" presentationLayer="8"
			quickFixIcon="icons/green.jpeg" showInNextPrevDropdownToolbarAction="true"
			showInNextPrevDropdownToolbarActionKey="answerShowInNextPrevDropdownToolbarAction"
			symbolicIcon="warning" textPreferenceKey="answerTextPreference"
			textPreferenceValue="true" textStylePreferenceKey="answerTextStylePreference"
			textStylePreferenceValue="BOX" verticalRulerPreferenceKey="answerVerticalRulerPreference"
			verticalRulerPreferenceValue="true">
		</specification>
	</extension>
   
    <extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
		<specification annotationImageProvider="edu.uncc.aside.codeannotate.AnnotationImageProvider"
			annotationType="CodeAnnotate.annotationQuestionCheckedAnnotation"
			colorPreferenceKey="questionCheckedColorPreference" colorPreferenceValue="255,255,0"
			contributesToHeader="true" highlightPreferenceKey="questionCheckedHighlightPreference"
			highlightPreferenceValue="true" icon="icons/yellow.jpeg"
			includeOnPreferencePage="true" isGoToNextNavigationTarget="true"
			isGoToNextNavigationTargetKey="questionCheckIsGoToNextNavigationTarget"
			isGoToPreviousNavigationTarget="true"
			isGoToPreviousNavigationTargetKey="questionCheckedIsGoToPreviousNavigationTarget"
			label="AnnotationCheckedQuestion" overviewRulerPreferenceKey="questionCheckedOverviewRulerPreference"
			overviewRulerPreferenceValue="true" presentationLayer="8"
			quickFixIcon="icons/yellow.jpeg" showInNextPrevDropdownToolbarAction="true"
			showInNextPrevDropdownToolbarActionKey="questionCheckedShowInNextPrevDropdownToolbarAction"
			symbolicIcon="warning" textPreferenceKey="questionCheckedTextPreference"
			textPreferenceValue="true" textStylePreferenceKey="questionCheckedTextStylePreference"
			textStylePreferenceValue="BOX" verticalRulerPreferenceKey="questionCheckedVerticalRulerPreference"
			verticalRulerPreferenceValue="true">
		</specification>
   </extension>
   
  	<extension point="org.eclipse.ui.ide.markerImageProviders">
		<imageprovider class="edu.uncc.aside.codeannotate.AnnotationImageProvider"
			icon="icons/red.jpeg" id="annotationQuestionImageProvider"
			markertype="CodeAnnotate.annotationQuestion">
		</imageprovider>
		<imageprovider class="edu.uncc.aside.codeannotate.AnnotationImageProvider"
			icon="icons/green.jpeg" id="annotationAnswerImageProvider"
			markertype="CodeAnnotate.annotationAnswer">
		</imageprovider>
		<imageprovider class="edu.uncc.aside.codeannotate.AnnotationImageProvider"
			icon="icons/yellow.jpeg" id="annotationQuestionCheckedImageProvider"
			markertype="CodeAnnotate.annotationQuestionChecked">
		</imageprovider>
	</extension>
   
    <extension
         point="org.eclipse.ui.views">
      <category
            name="ASIDE CodeAnnotate"
            id="codeannotate">
         
      </category>
      <view
            allowMultiple="false"
            class="edu.uncc.aside.codeannotate.presentations.AnnotationView"
            icon="icons/uncc.jpg"
            category="codeannotate"
            name="ASIDE Annotation Mappings"
            id="relationships">
      </view>    
   </extension>
   
   <extension
         point="org.eclipse.ui.ide.markerResolution">
   <markerResolutionGenerator
       markerType="CodeAnnotate.annotationQuestion"
       class="edu.uncc.aside.codeannotate.presentations.CodeAnnotateMarkerResolutionGenerator">
   </markerResolutionGenerator>
    <markerResolutionGenerator
       markerType="CodeAnnotate.annotationQuestionChecked"
       class="edu.uncc.aside.codeannotate.presentations.CodeAnnotateMarkerResolutionGenerator">
   </markerResolutionGenerator>
    <markerResolutionGenerator
       markerType="CodeAnnotate.annotationAnswer"
       class="edu.uncc.aside.codeannotate.presentations.CodeAnnotateControlMarkerResolutionGenerator">
   </markerResolutionGenerator>
   </extension>

    <extension
         point="org.eclipse.jdt.core.compilationParticipant">
      <compilationParticipant
            class="edu.uncc.aside.codeannotate.interactive.CodeAnnotationCompilerParticipant"
            id="CodeAnnotate.codeAnnotationCompilerParticipant">
      </compilationParticipant>
   </extension>

</plugin>
